*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: none;
}

body{
    background-color: #f5f5f5;
    color: #333;
}

.contenedor-contacto{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.8em 4em 4em 4em ;
}

.formulario-contacto{
    width: 60%;
    background-color: white;
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.formulario-contacto h2{
    font-size: 2em;
    color: #6c63ff;
    margin-bottom: 0.1em;
}

.texto-contacto{
    font-size: 1em;
    margin-bottom: 1em;
    color: #666;
}

.seccion-form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-wrap: wrap;
}

.seccion-form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1em;
}

.caja1{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

.caja2{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

.caja3{
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

.caja4{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
}

.caja5{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
}

.caja6{
    grid-column: 1/3;
    grid-row: 4/6;
    display: flex;
    flex-direction: column;
}

.caja7{
    grid-column: 1/3;
    grid-row: 6/7;
    display: flex;
    flex-direction: column;
}

.fila-formulario{
    display: flex;
    gap: 2em;
}

.campo{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campo label{
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input,
select,
textarea{
    padding: 1em;

    border: 0.1em solid #cccccc;
    border-radius: 0.6em;

    font-size: 1em;

    outline: none;

    transition: 0.3s;
}

input:focus,
select:focus,
textarea:focus{
    border-color: #6c63ff;
    box-shadow: 0 0 0.5em rgba(108, 99, 255, 0.4);
}

textarea{
    min-height: 12em;
    resize: none;
}

button{
    border: none;
    background-color: #6c63ff;
    color: white;
    padding: 1em;
    border-radius: 0.6em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: orange;
}

.texto-final{
    text-align: center;
    margin-top: 2em;
    font-size: 1em;
    color: #666;
}

@media (max-width:768px){

    .contenedor-contacto{
        width: 100%;
        padding: 0.8em 0em 0.8em 0em ;
    }

    .seccion-form-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 1em;
    }

    .caja1{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
    }

    .caja2{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
    }

    .caja3{
        grid-column: 1/2;
        grid-row: 3/4;
        display: flex;
        flex-direction: column;
    }

    .caja4{
        grid-column: 1/2;
        grid-row: 4/5;
        display: flex;
        flex-direction: column;
    }

    .caja5{
        grid-column: 1/2;
        grid-row: 5/6;
        display: flex;
        flex-direction: column;
    }

    .caja6{
        grid-column: 1/2;
        grid-row: 6/8;
        display: flex;
        flex-direction: column;
    }

    .caja7{
        grid-column: 1/2;
        grid-row: 8/9;
        display: flex;
        flex-direction: column;
    }
    
}