html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 18%;
    margin: 0;
    background-image: url("../img/fondo-login.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.estilo-form {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;


}

input,
button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.main-login h1 {
    text-align: center;
    color: aliceblue;
    font-size: 26px;
    margin-bottom: 20px;



}

form label {
    font-weight: bold;
    font-size: 1.2em;
    color: aliceblue;
}
/*para agregar el desenfoque*/
.estilo-form {
    backdrop-filter: blur(6px);
}
.registrarse{
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 1em;
    margin: 10px;
      background: linear-gradient(45deg, #ffcc00, #ff8800);
   
}
