html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.main-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 18%;
    margin: 0;
    background-image: url("../img/fondo-login.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

 min-height: calc(100vh - 122px); /* si tu footer mide ~80px */
}

.estilo-form {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;


}

input,
button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.main-login h1 {
    text-align: center;
    color: aliceblue;
    font-size: 26px;
    margin-bottom: 20px;



}

form label {
    font-weight: bold;
    font-size: 1.2em;
    color: aliceblue;
}
/*para agregar el desenfoque*/
.estilo-form {
    backdrop-filter: blur(6px);
}

.registrarse {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background: #faae3bce;
    color: rgb(221, 243, 247);
    text-decoration: none;
    border-radius: 5px;
}
