*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: none;
}

body{
    background-color: #f5f5f5;
    color: #333;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0.5em 2em 2em 2em;
}

main h1{
    margin-left: 2em;
}

.seccion-contenidos{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.seccion-datos-personales, .seccion-metodos-de-pago, .seccion-resumen{
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding: 2em;
}

.seccion-datos-personales, .seccion-resumen{
    width: 25em;
}

.seccion-metodos-de-pago{
    width: 50em;
    
}

.seccion-metodos-de-pago-tarjeta{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(6, 1fr) ;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}

.caja1{
    grid-column: 1/4;
    grid-row: 1/2;
}

.caja2{
    grid-column: 1/4;
    grid-row: 2/3;
}

.caja3{
    grid-column: 1/4;
    grid-row: 3/4;
}

.caja4{
    grid-column: 1/2;
    grid-row: 4/5;
}

.caja5{
    grid-column: 2/3;
    grid-row: 4/5;
}

.caja6{
    grid-column: 3/4;
    grid-row: 4/5;
}

.caja7{
    grid-column: 1/4;
    grid-row: 5/6;
}

.caja8{
    grid-column: 1/4;
    grid-row: 6/7;
}

.seccion-metodos label{
    gap: 0.5em;
}

.seccion-datos-personales input,
.seccion-metodos input,
.seccion-metodos select,
.seccion-resumen input{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0.7em 2em 0.7em 0.1em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    border: 0.1em solid; 
}

.div-vencimiento{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.seccion-metodos-de-pago-transferencia{
    display: none;
}

.seccion-metodos-de-pago-paypal{
    display: none;
}

.opcion-transferencia:checked  ~ .seccion-metodos .seccion-metodos-de-pago-transferencia{
    display: block;
}

.opcion-transferencia:checked  ~ .seccion-metodos .seccion-metodos-de-pago-tarjeta{
    display: none;
}

.opcion-paypal:checked  ~ .seccion-metodos .seccion-metodos-de-pago-paypal{
    display: block;
}

.opcion-paypal:checked  ~ .seccion-metodos .seccion-metodos-de-pago-tarjeta{
    display: none;
}

.seccion-botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 12em 1em 12em;
}

.seccion-botones a{
    text-decoration: none; 
    display: block;
}

.boton-volver, 
.boton-continuar{
    display: block;
    padding: 12px 24px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    border: 0.1em solid; 
    border-color: orange;
    background: none;
    color: orange; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700; 
    text-transform: uppercase; 
    cursor: pointer;
    box-sizing: border-box;
}

.boton-volver:hover,
.boton-continuar:hover{
    display: block;
    padding: 12px 24px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    border: 0.1em solid; 
    border-color: orange;
    background: orange;
    color: #ffffff; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700; 
    text-transform: uppercase; 
    cursor: pointer;
    box-sizing: border-box;
}